html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5rem;
  display: inline-block;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  margin: 0;
  padding: .5em;
  border-bottom: solid #595652;
  border-top: solid #595652;
  width: 100%;
}

h1 {
  font-family: "Bevan", sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 2rem;
  padding: .6em .5em;
  margin: 0;
  width: 100%;
  text-align: center;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

a:hover {
  background-color: #f33;
}

nav li {
  display: inline;
}

nav a {
  display: inline;
  padding: .75em;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-size: .95em;
  text-align: center;
  border-radius: .3em;
}
